* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 10px;
}


.fila::after {
    content: "";
    clear: both;
    display: block;
}


.fila  {
    padding: 10px;
}

h1, h5 {
    text-align: center;
}

#menuSongs {
    border: 2px solid #000000;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.optionSongs {
    background-color: #3b3b3b;
    border: 2px solid #000000;
    margin: 15px;
    border-radius: 15px;;
}

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    color: #ffffff;
    font-weight: 530;
    cursor: pointer;
}

.optionSongs:hover {
    background-color: #2e2e2e;
}

.optionSongs:active {
    background-color: #3b3b3b;
}

#audioControl {
    margin: 0 auto;
    text-align: center;
}

.labels {
    margin: 0 auto;
    text-align: center;
}

#textLabel {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 450px) {
    [class*="col-*"] {
        width: 100%;
    }
    #menuSongs {
        width: 100%;
    }
    #textLabel {
        width: 100%;
    }
}